<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beyond Viral</title>

    <link rel="stylesheet" href="/assets/style/style.css">
    <script src="/assets/script/script.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    

    <!-- navbar -->
    <nav class="navbar nav-pills navbar-expand-lg sticky-sm-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/Icon Logo Asset/Header-Logo.svg" alt="Bootstrap" width="79" height="40">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse position-absolute top-50 start-50 translate-middle"  id="navbarText">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">About Us</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#scrollarticle">Article</a>
              </li>
              <li class="nav-item">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#livestream">Live Stream</a></li>
                    <li><a class="dropdown-item" href="#talent">Talent</a></li>
                    <li><a class="dropdown-item" href="#feature">Feature</a></li>
                  </ul>
                </li>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="#ourworks">Our Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
            
          </div>

          <!-- <div class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
          </div> -->

        </div>
    </nav>


<!-- body -->
<div data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" >
    <div class="bg-banner">
        <div class="banner">
            <div class="d-flex justify-content-between banner-top">
              <div class="col-4 text">
                <h1>
                    We collaborates with brands that are passionate about creating amazing digital content.
                </h1>
              </div>
              <div class="banner-image">
                <img src="/assets/images/Icon Logo Asset/Homepage Introduction-Logo.png" alt="">
              </div>
            </div>

            <div class="d-flex justify-content-between cta-row">
                <p>For public & private companies</p>
                <p>From the first pitch to IPO</p>
                <div class="cta" >
                    <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="">
                        Our Works
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"></path></svg>
                    </a>
                </div>
            </div>





            <!-- <div class=" d-flex client-row">
                <div class="side p-2">
                  <div class="side-text">
                    <p>Our Client</p>
                  </div>
                </div>
                <div class="row row-cols-8 p-2 w-100 d-flex align-items-center client">
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 11.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 12.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 13.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 14.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 15.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 16.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 17.png" alt=""></div>
                  </div>
                  <div class="col">
                    <div class="p-3"><img src="/assets/images/client/Group 18.png" alt=""></div>
                  </div>

                </div>
              </div> -->



              <div class="client-hl">
                <div class="client-atribute">
                    <div class="client-title">
                        <h2>Our Client</h2>
                    </div>
                </div>
        
                <div class="client-logo">
                    <div class="cl-logo">
                        <img src="/assets/images/client/Group 11.png" alt="">
                        <img src="/assets/images/client/Group 12.png" alt="">
                        <img src="/assets/images/client/Group 13.png" alt="">
                        <img src="/assets/images/client/Group 14.png" alt="">
                        <img src="/assets/images/client/Group 15.png" alt="">
                        <img src="/assets/images/client/Group 16.png" alt="">
                        <img src="/assets/images/client/Group 17.png" alt="">
                    </div>
                </div>
        
              
             </div>


              <!-- scroll down -->
              <div class="scroll-down">
                <div class="scrolldown">
                  Scroll Down
                  <img src="/assets/images/Icon Logo Asset/arrows-up-down.svg" alt="">
                </div>
              </div>

    </div>
</div>


<!-- about us -->

<div class="about-us" id="scrollspyHeading2" >
  <div class="about-us-row">

    <div class="about-row">
      <div class="about-title" >
        <div class="about-1" data-aos="fade-right"  data-aos-duration="1500">
          <h2>WE ARE</h2>
          <img src="/assets/images/Icon Logo Asset/bv.png" alt="">
        </div>

        <div class="about-2" data-aos="fade-right"  data-aos-duration="1500">
          <h2>BEYON VIRAL</h2>
        </div>
      </div>

      
      <div class="d-flex about-detail">
        <div class="p-2 w-100">About Us</div>
        <div class="p-2 w-55">✨ IT’S A PLEASURE TO MEET YOU ✨ <br><br>

          Beyond Viral, is Content-house agency concentrate in producing something big and standout content. We create digital content to meet the marketing needs of brands.
          <br><br>
          We founded Beyond Viral to help you believe that a fresh, inventive approach to selling is the key to capturing attention and boosting business results. That's why we're here to help you create one-of-a-kind digital content that will set you apart from the competition. Let us show you how to make a lasting impression on your audience and achieve the success you deserve.</div>


        <div class="p-2 w-50">
          <div class="cta aboutcta" >
            <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="">
                Our Works
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"></path></svg>
            </a>
        </div>  
        </div>


      </div>


      <div class="d-flex about-loc">
        <div class="p-2 w-100 about-loc-1" data-aos="fade-right"  data-aos-duration="1400">
          <img src="/assets/images/Icon Logo Asset/mail.png" alt="">
          <img src="/assets/images/Icon Logo Asset/call.png" alt="">
        </div>
        <div class="p-2 w-100 about-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.283881785521!2d106.80378107499035!3d-6.226252093761822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f57d5013eb65%3A0xb2d707d4655b2d8!2sThe%20Energy%20Building!5e0!3m2!1sen!2sid!4v1723460047274!5m2!1sen!2sid" width="389" height="76" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <p>    
            Gedung The Energy, SCBD Lot Jl. Jend. Sudirman kav 52-53 No.11A, RT.5/RW.3, Senayan, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12190
          </p>
        </div>
            

        <div class="p-2 w-100">
          <div class="cta aboutcta" >
            <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="">
              <img src="/assets/images/Icon Logo Asset/icon 16-map.png" alt="">
                Our Works
            </a>
        </div>  
        </div>


      </div>


    </div>

  </div>
</div>



<div class="social-media">
  <div class="social-detail">
    <div class="sosmed">
      <img src="/assets/images/Ornament/Social Media.svg" alt="">

      <div class="sosmed-about">
        <h2>SOCIAL MEDIA</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fuga, beatae voluptatibus repellat incidunt recusandae accusantium dicta velit unde ipsa ea in hic expedita non enim quibusdam neque harum distinctio?</p>
      </div>
    </div>
    
      <div class="sosmed-platform">
        <div class="sosmed-platform-row">
          <p>sosmed</p>
        </div>
      </div>

  </div>
</div>


<!-- article -->
<!-- <div class="article-bg" id="scrollarticle">
  
  <div class="article">
      <div class="article-title">
        <div class="d-flex justify-content-between title-article" >
            <h1 data-aos="fade-left">ARTICLE</h1>
            <div class="article-logo" data-aos="fade-right">
              <img src="/assets/images/Icon Logo Asset/icon-eyes.png" alt="">
            </div>
        </div>
      </div>

    

      <div class="row g-0">
        <div class="col-sm-6">
          <img class="w-100" src="/assets/images/Ornament/f1.png" alt="">
        </div>
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
      </div>
      <div class="row g-0">
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
        <div class="col-sm-3">
          <img class="w-100" src="/assets/images/Ornament/f2.png" alt="">
        </div>
      </div>
  </div>
</div> -->

<div class="article-bg">

</div>
<div class="contain " id="scrollarticle">
  <div class="article-title">
      <div class="art-title">
          <h2 
              data-aos="fade-left"
               data-aos-easing="ease-in-sine"
              data-aos-anchor-placement="top-center"
          >Article</h2>
          <img
               data-aos="fade-right"
               data-aos-easing="ease-in-sine"
               data-aos-anchor-placement="top-center"
          src="/assets/images/client/articleicon.svg" alt="">
      </div>
  </div>
  <div class="gallery">
      <figure class="gallery__item gallery__item--1">
          <img src="/assets/images/Ornament/f1.png" alt="Gallery image 1" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>

      </figure>
      <figure class="gallery__item gallery__item--2">
          <img src="/assets/images/Ornament/f2.png" alt="Gallery image 2" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>
      
      </figure>
      <figure class="gallery__item gallery__item--3">
          <img src="/assets/images/Ornament/f3.jpg" alt="Gallery image 3" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>
      </figure>
      <figure class="gallery__item gallery__item--4">
          <img src="/assets/images/Ornament/f4.jpg" alt="Gallery image 4" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>
      </figure>
      <figure class="gallery__item gallery__item--5">
          <img src="/assets/images/Ornament/f5.jpg" alt="Gallery image 5" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>  
      </figure>
      <figure class="gallery__item gallery__item--6">
          <img src="/assets/images/Ornament/f6.jpg" alt="Gallery image 6" class="gallery__img">
          <div class="judul">
              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>
      </figure>
      <figure class="gallery__item gallery__item--7">
          <img src="/assets/images/Ornament/f7.jpg" alt="Gallery image 7" class="gallery__img">
          <div class="judul">

              <h2>Judul</h2>
              <p>Sub judul</p>
          </div>
      </figure>
  </div>
</div>


<div class="livestream" id="livestream">

  <div class="livestream-ch">
    
    <img src="/assets/images/Ornament/Live Streaming Channel.svg" alt="">
    
    <div class="sosmed-about">
      <h2>LIVE STREAM</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fuga, beatae voluptatibus repellat incidunt recusandae accusantium dicta velit unde ipsa ea in hic expedita non enim quibusdam neque harum distinctio?</p>
    </div>
  </div>
  
</div>


<div class="media-bg">

</div>
<div class="media">
  <div class="media-detail">
    <div class="media-row">
      <div class="media-photo">
        <img src="/assets/images/Ornament/tiktok.png" alt="">
      </div>
      <div class="media-title">
        <h2>TIKTOK</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam suscipit in possimus corrupti aspernatur dolor placeat ex tenetur cumque. Quia dolor provident asperiores mollitia neque quaerat vitae ab assumenda ratione?</p>
      </div>
    </div>

    <div class="media-row-2">
      <div class="media-photo">
        <img src="/assets/images/Ornament/ig.png" alt="">
      </div>
      <div class="media-title">
        <h2>INSTAGRAM</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam suscipit in possimus corrupti aspernatur dolor placeat ex tenetur cumque. Quia dolor provident asperiores mollitia neque quaerat vitae ab assumenda ratione?</p>
      </div>
    </div>
  </div>
</div>


<div class="talent" id="talent">
  
  <div class="talent-detail">
      <div class="talent-fill">
        <div class="talent-title">
          <h2>TALENT</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quia excepturi quo. Recusandae enim accusamus quaerat maxime, suscipit in. Quidem pariatur molestias placeat dolorum excepturi ut quo provident molestiae. Vitae?</p>
        </div>
        <div class="talent-photo">
          <img src="/assets/images/Ornament/Talent.svg" alt="">
        </div>
      </div>

  <div class="talent-row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="/assets/images/Ornament/Frame 76.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/assets/images/Ornament/Frame 77.png" class="d-block w-100" alt="...">
  
        </div>
        <div class="carousel-item">
          <img src="/assets/images/Ornament/Frame 78.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

  </div>


  </div>
</div>



<div class="feature-bg">
</div>

<div class="feature" id="feature">
  <div class="feature-row">
    <div class="image-bg">
      <img src="/assets/images/Ornament/MacBook Air - 66.svg" class="img-fluid" alt="Responsive image">
    </div>

  </div>
  <div class="feature-title">
    <div class="f-title">
      <h2>FEATURE</h2>
    </div>
  </div>

  <div class="feature-column">
    <div class="feature-fill">
      <div class="feature-1">
        <h2>Filter</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt repudiandae voluptatum quasi, eos ducimus illo sint doloribus aliquam suscipit atque porro officiis eum. Quo iure eum, est repellendus minima quod.</p>
      </div>

      <div class="feature-img">
        <img src="/assets/images/Ornament/filter1.svg" alt="">
        <img src="/assets/images/Ornament/filter2.svg" alt="">
        <img src="/assets/images/Ornament/filter3.svg" alt="">
      </div>
    </div>

    <div class="feature-fill-2">
      <div class="feature-1">
        <h2>Augmented Reality</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt repudiandae voluptatum quasi, eos ducimus illo sint doloribus aliquam suscipit atque porro officiis eum. Quo iure eum, est repellendus minima quod.</p>
      </div>

      <div class="feature-img">
        <img src="/assets/images/Ornament/ar1.svg" alt="">
        <img src="/assets/images/Ornament/ar2.svg" alt="">
        <img src="/assets/images/Ornament/ar3.svg" alt="">
      </div>
    </div>

  </div>
</div>



<div class="ourworks" id="ourworks">
  <div class="ourworks-row">
    <div class="ourworks-title">
      <h2>OUR WORKS</h2>
    </div>
  </div>


  <div class="tabs-works" >
    
        
    <div class="tab" data-aos="fade-right"  data-aos-duration="1500">
      <button class="tablinks" onclick="openCity(event, 'all')" id="defaultOpen">All</button>
      <button class="tablinks" onclick="openCity(event, 'cat1')">Category 1</button>
      <button class="tablinks" onclick="openCity(event, 'cat2')">Category 2</button>
      <button class="tablinks" onclick="openCity(event, 'cat3')">Category 3</button>
      <button class="tablinks" onclick="openCity(event, 'cat4')">Category 4</button>
    </div>

    <div id="all" class="tabcontent">
      <div class="tabs-con">
        <div class="tabs-detail" id="tabdetail">
          <img src="/assets/images/Ornament/works1.svg" alt="">
          <div class="col-tags">
            <p>category 1</p>
            <p>category 2</p>

            <figcaption  data-aos="fade-down" data-aos-anchor-placement="top-bottom">
              <h2>Works 1</h2>
            </figcaption>

          </div>

        </div>
        <div class="tabs-detail">
          <img src="/assets/images/Ornament/works2.svg" alt="">
          <div class="col-tags">
            <p>category 1</p>
            <p>category 2</p>
          
            <figcaption>
              <h2>Works 2</h2>
            </figcaption>
          
          </div>
        </div>
        <div class="tabs-detail">
          <img src="/assets/images/Ornament/works3.svg" alt="">
          <div class="col-tags">
            <p>category 1</p>
            <p>category 2</p>

            <figcaption>
              <h2>Works 3</h2>
            </figcaption>

          </div>
        </div>
        <div class="tabs-detail">
          <img src="/assets/images/Ornament/works4.svg" alt="">
          <div class="col-tags">
            <p>category 1</p>
            <p>category 2</p>

            <figcaption>
              <h2>Works 4</h2>
            </figcaption>
              
          </div>
        </div>
      </div>
    </div>

    <div id="cat1" class="tabcontent">
     
    </div>
    <div id="cat2" class="tabcontent">
     
    </div>

    <div id="cat3" class="tabcontent">

    </div>

    <div id="cat4" class="tabcontent">

    </div>

  </div>



</div>

  




<div class="footer-bg"></div>

<footer id="sticky-footer"  class="flex-shrink-0 py-4 bg-dark text-white-50" id="contact">
  <div class="footer">
    <div class="footer-side">
      <div class="footer-row">
        <p>Slide Into :</p>
        <a href="">beyond@viral.co.id</a>
        <a href="">+62 00099988</a>
        <a href="">beyondviral.id</a>
        <a href="">beyondviral.tiktok</a>
      </div>

      <div class="footer-row-logo">
        <img src="/assets/images/Icon Logo Asset/Footer-Logo.png" alt="">
        <p>© Beyond Viral 2024.</p>
      </div>
    </div>
    
    <div class="footer-side">
      <div class="footer-row-logo">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.283881785521!2d106.80378107499035!3d-6.226252093761822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f57d5013eb65%3A0xb2d707d4655b2d8!2sThe%20Energy%20Building!5e0!3m2!1sen!2sid!4v1723460047274!5m2!1sen!2sid" width="389" height="76" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Gedung The Energy, SCBD Lot Jl. Jend. Sudirman kav 52-53 No.11A, RT.5/RW.3, Senayan, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12190</p>
      </div>
    </div>
  </div>
</footer>












<script>
  AOS.init();
</script>

<script>

  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>

</body>
</html>